@charset "utf-8";

header
{width:70%;
margin:auto;
padding:.5em;
background-color:#A2D9CE;
color:#FA7476;
font-size:3.5em;
border-style:groove;
border-redius:10px;
text-align:center;
font-family: AVEMON-Personal Use;
	
	src:url("AVEMON-Personal Use.otf")
}


h1
	{color:blue;
	}

nar
	{background-color:#74AB10;
	padding:0.5em;
	}

ul
	{background-color:#A2D9CE;
	margin:2em;
	padding:1.2em;
		text-align: center;
	}

li
	{display:inline;
	background-color:#D0F4ED;
	color:#eb984e;
	border-style:solid;
	border-width:3px;
	border-radius:8px;
	padding-left:3em;
	margin-left:15em;
	padding-right:2em;
	}

h1
	{text-align:center;
	color:#1DA09E;
	margin:10px;
	background-color:#FFAB91;
	padding:5px;
	font-family: Dangerless Liaisons;
		
		src:url("Dangerless Liaisons.otf")
	}

	p{padding:10px;
	color:black;
	width:94%;
	margin-left:1.8%;
	}
	
	.text-align-justify{
	text-align:justify;
	}

ul li{
	padding-left:2rem;
	background-position: 0 0;
	background-size: 1.6rem 1.6rem;
	background-repeat: no-repeat;
	text-align:justify;
}


li
{
	margin:10px;
	margin-top:10px;
	display:inline;
}


body
{
	background-color:#FEF8F4;
}

img
{
	padding:20px;
	text-align: center;
}


form
{
	color:#FEA081;
	font-size:20px;
	border-style:solid;
	border-color:#009688;
	border-radius:5px;
	padding:20px;
	margin:20px;
}

#contenido
{
	display:flex;
}


#lateral
{
	background-color:pink;
}


#pie
{
	padding:5px;
	background-color:white;
	clear:both;
}


.noticia
{
	font-size:25px;
	color:red;
}


.social
{
	width:20px;
	display:inline;
}

article
{
	background-color:#F6DDCC;
	margin-left:550px;
	margin-top:25px;
	margin-bottom:20px;
	margin-right:35px;
	padding-left:20px;
	padding-bottom:40px;
	padding-top:35px;
	padding-right:500px;
	
}

aside
{
	width:100%;
	background-color:#F6DDCC;
	margin-bottom:340px;
	text-align: center;
}


section
{
	width:95%;
	border-style:solid;
	color:#1DA09E;
	margin-left:2em;
}


h2
	{color:#009688	
	}

